{%- set args = [] -%}
{%- if vllm['tensor-parallel-size'] is defined -%}{%- set _ = args.append('--tensor-parallel-size "' ~ vllm['tensor-parallel-size'] ~ '"') -%}{%- endif -%}
{%- if vllm['pipeline-parallel-size'] is defined -%}{%- set _ = args.append('--pipeline-parallel-size "' ~ vllm['pipeline-parallel-size'] ~ '"') -%}{%- endif -%}
{%- if vllm['data-parallel-size'] is defined -%}{%- set _ = args.append('--data-parallel-size "' ~ vllm['data-parallel-size'] ~ '"') -%}{%- endif -%}
{%- if vllm['enable-expert-parallel'] -%}{%- set _ = args.append('--enable-expert-parallel') -%}{%- endif -%}
{%- if vllm['block-size'] is defined -%}{%- set _ = args.append('--block-size "' ~ vllm['block-size'] ~ '"') -%}{%- endif -%}
{%- if vllm['kv-cache-dtype'] is defined -%}{%- set _ = args.append('--kv-cache-dtype "' ~ vllm['kv-cache-dtype'] ~ '"') -%}{%- endif -%}
{%- if vllm['max-model-len'] is defined -%}{%- set _ = args.append('--max-model-len "' ~ vllm['max-model-len'] ~ '"') -%}{%- endif -%}
{%- if vllm['max-num-seqs'] is defined -%}{%- set _ = args.append('--max-num-seqs "' ~ vllm['max-num-seqs'] ~ '"') -%}{%- endif -%}
{%- if vllm['skip-tokenizer-init'] -%}{%- set _ = args.append('--skip-tokenizer-init') -%}{%- endif -%}
{%- if vllm['trust-remote-code'] -%}{%- set _ = args.append('--trust-remote-code') -%}{%- endif -%}
{%- if vllm['enforce-eager'] -%}{%- set _ = args.append('--enforce-eager') -%}{%- endif -%}
{%- if vllm['cudagraph-capture-sizes'] is defined -%}{%- set _ = args.append('--cudagraph-capture-sizes ' ~ (vllm['cudagraph-capture-sizes'] | join(' '))) -%}{%- endif -%}


{%- if vllm['no-enable-prefix-caching'] -%}{%- set _ = args.append('--no-enable-prefix-caching') -%}{%- endif -%}
{%- set spec_cfg = namespace(value={}) -%}
{%- if speculative_config.method is defined and speculative_config.method -%}
    {%- set _ = spec_cfg.value.update({'method': speculative_config.method}) -%}
{%- endif -%}
{%- if speculative_config.num_speculative_tokens is defined and speculative_config.num_speculative_tokens is not none -%}
    {%- set _ = spec_cfg.value.update({'num_speculative_tokens': speculative_config.num_speculative_tokens}) -%}
{%- endif -%}
{%- if spec_cfg.value -%}
    {%- set _ = args.append('--speculative-config \'' ~ (spec_cfg.value | tojson) ~ '\'') -%}
{%- endif -%}
{{ args | join(' ') }}
