backend: pytorch

{% if dynamo_config.moe_backend is defined %}
moe_config:
  backend: {{ moe_config.backend | default('CUTLASS') }}
  {% if moe_config.load_balancer is defined %}
  load_balancer: {{ moe_config.load_balancer }}
  {% endif %}
{% endif %}

{% if is_moe is defined %}  # is_moe from sdk
moe_expert_parallel_size: {{ moe_expert_parallel_size }}
moe_tensor_parallel_size: {{ moe_tensor_parallel_size }}
{% endif %}

tensor_parallel_size: {{ tensor_parallel_size }}
pipeline_parallel_size: {{ pipeline_parallel_size }}
enable_attention_dp: {{ enable_attention_dp | default(false) }}
enable_chunked_prefill: {{ enable_chunked_prefill | default(false) }}

{% set _max_seq_len = max_seq_len | default(none) %}

build_config:
  max_batch_size: {{ max_batch_size }}
  max_num_tokens: {{ max_num_tokens }}
  {% if _max_seq_len is not none and _max_seq_len != '' %}
  max_seq_len: {{ _max_seq_len }}
  {% endif %}

kv_cache_config:
  free_gpu_memory_fraction: {{ kv_cache_config.free_gpu_memory_fraction | default(0.80) }}
  {% if kv_cache_config.tokens_per_block is defined %}
  tokens_per_block: {{ kv_cache_config.tokens_per_block }}
  {% endif %}
  enable_block_reuse: {{ kv_cache_config.enable_block_reuse | default(false) }}
  
cuda_graph_config:
  enable_padding: {{ cuda_graph_config.enable_padding | default(false) }}
  batch_sizes: [{% for s in cuda_graph_config.batch_sizes
                               | default([1,2,4,8,16,32,64,128,256]) -%}
                    {{- s }}{{ ',' if not loop.last else '' }} {%- endfor %}]

disable_overlap_scheduler: {{ disable_overlap_scheduler | default(true) }}
print_iter_log: {{ print_iter_log | default(false) }}  # print_iter_log Print iteration logs
kv_cache_dtype: {{ kv_cache_config.dtype | default('auto') }}

{% if speculative_config.decoding_type is defined %}  # speculative decoding
speculative_config:
  decoding_type: {{ speculative_config.decoding_type }}
  {% if speculative_config.decoding_type == 'MTP' %}
  num_nextn_predict_layers: {{ num_nextn_predict_layers }}
  {% endif %}
{% endif %}